@import "../_variables";

.events {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0.25rem;
  align-items: center;
}

.event {
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr auto;
  gap: 0.25rem;
  align-items: center;
  background: $light;
  border-radius: 5px;
}

.title {
  margin-bottom: 0.125rem !important;
  padding: 0;
}

.date {
  padding: 0.5rem 1rem;
  font-size: 1.75rem;
}
