@import "../_variables";

.footer {
  width: 100%;
  color: $light;
}

.content {
  background: $dark;
  padding: 1em 0;

  a {
    font-size: 0.875em;
    letter-spacing: 1px;
  }

  * {
    font-size: 1em;
    text-transform: lowercase;
    color: $light !important;
    fill: $light !important;
  }
}

.copyright {
  width: 100%;
  text-align: center;
  color: lighten($dark, 20%);
  background: $light;
  padding: 0.3em 0;
  font-weight: normal;
}
