@import "../_variables";

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: $dark;
  background: $light;
  padding: 0.75em 2em;
  width: 100%;
  display: grid;
  border-radius: 0.5em 0.5em 0 0;
  border: 2px solid darken($light, 10%);
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;

  p {
    margin-bottom: 0.25em;
    text-decoration: underline;
  }
  address {
    color: lighten($dark, 20%);
    font-size: 0.75em;
    font-style: normal;
    margin: 0;
  }
}

.close {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1000;
  padding: 0;
}
