@import "variables";

.mapFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  color: $dark;
  background: $light;
  padding: 0.75em 2em;
  width: 100%;
  display: grid;
  border-radius: 0.5em 0.5em 0 0;
  border: 2px solid darken($light, 10%);
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;

  p {
    margin-bottom: 0.25em;
    text-decoration: underline;
  }
  address {
    color: lighten($dark, 20%);
    font-size: 0.75em;
    font-style: normal;
    margin: 0;
  }
}

.mapClose {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1000;
  padding: 0;
}

.footer {
  width: 100%;
  color: $light;
  .content {
    background: $dark;
    padding: 1em 0;
    a {
      font-size: 0.875em;
      letter-spacing: 1px;
    }
    * {
      font-size: 1em;
      text-transform: lowercase;
      color: $light !important;
      fill: $light !important;
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    color: lighten($dark, 20%);
    background: $light;
    padding: 0.3em 0;
    font-weight: normal;
  }
}

.menuItem {
  .flavor {
    display: flex;
    align-items: center;

    :first-child {
      margin-right: 0.25em;
    }

    .swatch {
      border-radius: 0.25em;
      padding: 0.35em;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: white;

  * {
    margin: 0;
  }
}

.microlink {
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
}

.events {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0.25rem;
  // align-content: flex-end;
  align-items: center;

  .event {
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr auto;
    gap: 0.25rem;
    // align-content: flex-end;
    align-items: center;
    background: $light;
    border-radius: 5px;
  }

  .title {
    margin-bottom: 0.125rem !important;
    padding: 0;
    // font-size: 1.5rem;
  }

  .date {
    padding: 0.5rem 1rem;
    font-size: 1.75rem;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventItemdate {
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1.75rem;

  &:first-child {
    margin-right: 1rem;
  }
}

.eventItemInfo {
  padding: 0.25rem 1rem;
}
