// colors
$brand: #d9534f;
$light: #f8f9fa;
$bg: #ffffff;
$red: #d9534f;
$dark: #212529;
$grey: #454545;
$blue: #035985;
$yellow: #ffba29;

html {
  background: $light;
  body {
    margin: 0;
    background: $bg;
  }
}

#App {
  height: 100vh;
}

#page-wrap {
  overflow: auto;
}
a {
  color: $red;
  &:hover {
    color: $dark;
  }
}

.bm-item {
  :hover {
    color: $red;
  }
  text-decoration: none;
  transition: color 0.2s;
}

.bm-menu {
  z-index: 10000;
  padding: 1em 1.5em 0;
  font-size: 1.15em;
  background: $light;
  border-right: 2px solid $red;
}

.bm-morph-shape {
  fill: $light;
}

.bm-item-list {
  color: $dark;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.index-page {
  background: $red;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: white;
  * {
    margin: 0;
  }
}

.event-item {
  background: $light;
  border-radius: 5px;
  .info {
    padding: 0.25rem 1rem;
  }
  .title {
    margin-bottom: 0.125rem;
    padding: 0;
    font-size: 1.5rem;
  }
  .date {
    margin: 0;
    &:first-child {
      margin-right: 1rem;
    }
    padding: 0.5rem 1rem;
    font-size: 1.75rem;
  }
}
