@import "../../node_modules/bootstrap/scss/bootstrap-grid";
// colors
$brand: #d9534f;
$light: #f8f9fa;
$bg: #ffffff;
$red: #d9534f;
$dark: #212529;
$grey: #454545;
$blue: #035985;
$yellow: #ffba29;

html {
  background: $light;
  body {
    margin: 0;
    background: $bg;
  }
}

section {
  padding: 0.5rem 0;
}

.bg-red {
  background: $red;
}

:focus {
  outline: 0;
  /* or */
  outline: none;
}

#App {
  height: 100vh;
}

#page-wrap {
  overflow: auto;
}
a {
  color: $brand;
  &:hover {
    color: $dark;
  }
}

.bm-item {
  :hover {
    color: $brand;
  }
  text-decoration: none;
  transition: color 0.2s;
}

.bm-menu {
  z-index: 10000;
  padding: 1em 1.5em 0;
  font-size: 1.15em;
  background: $light;
  border-right: 2px solid $brand;
}

.bm-morph-shape {
  fill: $light;
}

.bm-item-list {
  color: $dark;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.navbar {
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: white;
  * {
    margin: 0;
  }
}

.event-item {
  background: $light;
  border-radius: 5px;
  .info {
    padding: 0.25rem 1rem;
  }
  .title {
    margin-bottom: 0.125rem;
    padding: 0;
    font-size: 1.5rem;
  }
  .date {
    margin: 0;
    &:first-child {
      margin-right: 1rem;
    }
    padding: 0.5rem 1rem;
    font-size: 1.75rem;
  }
}

.microlink {
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

@mixin button-reset {
  padding: 0;
  color: inherit;
  font: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  @include button-reset;
  padding: 4px 6px;
}

.btn {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: $dark;
  background: $bg;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

/* inverse colors on mouse-over */
.btn:hover {
  color: $light;
  border-color: currentColor;
  background-color: $dark;
}

/* inverse colors on mouse-over and focus */
// .btn:hover,
// .btn:focus {
//   color: $brand;
//   border-color: currentColor;
//   background-color: white;
// }

.btn {
  outline: none;
}

/* Firefox: removes the inner border shown on focus */
.js-focus-visible .btn:focus:not(.focus-visible) {
  box-shadow: none;
}
